# Dependencies
node_modules/

# Env (secrets)
.env
.env.local
.env.*.local

# Build
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Optional
*.tsbuildinfo
